@charset "UTF-8";
/* common */
	.gul:link{
		color: black;
	}
	.gul:visited{
		color: #848484;
	}
	
	td.pl20{
		padding-left:20px;
	}
	h1.label{
		text-align:center;
		font-size:30px;
		padding:30px 0;
	}
	table{
		width: 80%;
		height:auto;
    	margin: 0 auto;
		border-top:3px solid #000;
	}
	table tr{
		
	}
	table tr.list_title{
		font-size:16px;
		font-weight:bold;
		background-color:#eee;
	}
	table tr td {
		height:30px;
		vertical-align:middle;
		border-bottom:1px solid #ddd;
	}
	table tr td.l_name{
		padding-left:18px;
	}
	.put{
		float: left;
	    width: 95%;
	    border-style: none;
	    background: #fff; 
	    resize: none;
	}
	.admin_btn{
	    border-style: none;
	    background: #cbcbcb; 
	    padding: 3px 8px;
	}
	.admin_btn:hover{
	    border-style: none;
	    background: #bbbbbb; 
	    padding: 3px 8px;
	}
/* noticeList */
   .cls1 {text-decoration:none;}
   .cls2{ text-align:center; font-size:30px; }
   
/* noticeView */
	.notice_view_form{
		margin-top: 10px;	
	}

   
/* membersList */
	.profileImage {
		float: left;
		width: 50px;
    	height: 50px; 
    	border-radius: 70%;
    	margin: 26px 20px 10px 20px ;
	}
	.memList{
		text-align:left;
		padding-bottom: 10px;
	}
	.memList img {
		float: left;
		width: 50px;
    	height: 50px; 
    	border-radius: 70%;
    	margin: 26px 20px 10px 20px ;
	}
	.memList .mem_id{
		font-size:20px;
		font-weight:bold;
		margin-left:20px;
		margin-top: 25px;
	}
	.memList .mem_name{
		font-size:14px;
		font-weight:normal;
	}
	.memList .mem_email{
		margin-top:10px;
	}
	.memList .btn_detail{
		width: 30px;
	    height: 30px;
	    font-size: 20px;
	    border: 1px solid #aaa;
	    background: #ddd;
	    font-weight: bold;
	}

